body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo neutro */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 60px; /* Ajusta este valor según sea necesario */
}

article {
    width: 100%; /* En dispositivos más pequeños, ocupa todo el ancho */
    max-width: 300px; /* Ancho máximo en pantallas más grandes */
    margin: 0 10px 20px 10px; /* Espaciado entre los artículos */
    background-color: #fff; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centro los elementos verticalmente */
    text-align: center;
}

article img {
    width: 80%; /* Ancho máximo del 100% */
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

article p {
    padding: 10px;
}

button {
    background-color: #4CAF50; /* Verde */
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px; /* Espaciado superior */
}

button:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el mouse */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px; /* Ajusta este valor según sea necesario */
}

/* Consulta de medios para dispositivos más pequeños */
@media only screen and (max-width: 600px) {
    .main-content {
        padding: 10px; /* Ajusta el espacio interno en pantallas más pequeñas */
    }

    article {
        width: 100%; /* En pantallas pequeñas, ocupa todo el ancho disponible */
    }
}
