body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #172a3a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

footer {
    background-color: #172a3a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 45%;
    margin: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product .image {
    flex: 1;
    text-align: center;
}

.product .details {
    flex: 2;
    padding: 20px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: auto;
    display: inline-block;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

.description {
    margin-bottom: 10px;
}

.btn-details {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.more-details {
    display: none;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .product {
        width: 100%;
    }
}
