body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav {
    background-color: #555555;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav button.button-nav {
    text-decoration: none;
    color: #ffffff;
    padding: 0 1em;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 23%;
    background-color: #004080;
    margin: auto;
    bottom: 0;
}

.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article {
    width: 100%;
    max-width: 300px;
    margin: 1%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

article h2 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0 20px; /* Ajuste del margen superior del h2 */
}

article h4 {
    padding: 2%;
    margin-bottom: 40px;
}

button.main-page {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #fff;
    padding: 2% 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0; /* Ajuste del margen inferior del botón */
    width: 80%;
}

button.main-page:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* ESTILOS DE LIBROS */

@media (max-width: 600px) {
    article {
        margin: 10px;
        padding: 10px;
    }
    
    article h2 {
        font-size: 1.2em;
    }
}

/* CSS Books */

/*div.content {}*/

div.card-container {
    width: 80%;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
    width: 80%;
}

.card-content {
    border-radius: 15px;
    overflow: hidden;
    background-color: #f0f0f0; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.card-img {
    float: left;
    margin-right: 20px;
    border-radius: 10px; 
    max-width: 150px;
    height: auto;
}

.card-text {
    overflow: hidden;
}

button.books {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Estilos de comentarios */

.comment-section {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-section h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.comment-section form {
    display: flex;
    flex-direction: column;
}

.comment-section label {
    font-weight: bold;
    margin-bottom: 10px;
}

.comment-section textarea {
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    height: 110px
}

.comment-section input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-section input[type="submit"]:hover {
    background-color: #45a049;
}

.commentsContainer {
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
