/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos del encabezado */
header {
    background-color: #172a3a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos de la barra de navegación */
nav {
    background-color: #1f3647;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos del contenido principal */
main {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Estilos del pie de página */
footer {
    background-color: #172a3a;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos de la sección de tarjetas */
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos de las tarjetas */
.card {
    width: 22%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
}

/* Estilos de las imágenes dentro de las tarjetas */
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Estilos de los botones */
.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

/* Estilos de animación al pasar el ratón sobre las tarjetas y los botones */
.card:hover,
.btn:hover {
    transform: scale(1.1);
}

/* Estilo para tarjetas reducidas */
.shrunken {
    transform: scale(0.9);
}

/* Estilos de botones de autenticación y registro */
.btn-auth,
.btn-register {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

/* Estilos al pasar el ratón sobre botones de autenticación y registro */
.btn-auth:hover,
.btn-register:hover {
    background-color: #2980b9;
}

/* Estilos responsivos para pantallas pequeñas */
@media (max-width: 768px) {
    .card {
        width: 48%;
        margin: 0 auto;
    }

    .card-section {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 80%;
    }
}

/* Estilos de la sección de productos */
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Estilos de cada producto */
.product {
    width: 90%;
    margin: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Estilos de la sección de imágenes del producto */
.product .image {
    flex: 1;
    text-align: center;
}

/* Estilos de la imagen del producto */
.image{
    max-height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para imágenes específicas */
.img {
    max-height: 70%;
}

/* Estilos de la sección de detalles del producto */
.product .details {
    flex: 2;
    padding: 20px;
}

/* Estilos de la imagen dentro del producto */
.product img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

/* Estilos del precio */
.price {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

/* Estilos de la descripción del producto */
.description {
    margin-bottom: 10px;
}

/* Estilos del botón de detalles */
.btn-details {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos de la sección de detalles adicionales */
.more-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* Estilos al mostrar los detalles adicionales */
.more-details.show {
    max-height: 500px;
}

/* Estilos del formulario de inicio de sesión */
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    max-width: 30%; /* Ajustar el ancho máximo según sea necesario */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-form .btn-auth {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-form .btn-auth:hover {
    background-color: #2980b9;
}

/* Estilos responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .card {
        width: 48%;
        margin: 0 auto;
    }

    .card-section {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 80%;
    }

    /* Estilos responsive para el formulario de inicio de sesión y registro */
    .login-form {
        width: 100%;
        max-width: none;
    }
}